extends common/layout

block layout-content
  .main-content
    h1.page-title Our Books

    .search-bar
      form(action='#', method='#')
        input(type='text', placeholder='Search for books...')
        button.button(type='submit') Search
    ul
      each book in books
        div
          h2 #{book.title}
          img.img2(src=book.image, alt=book.title)
          p Author: #{book.author}
          p Year: #{book.year}
          p Price: #{book.price}
          a.button(href="/books") Buy Now